#footer
	#footer_div
		#address appthings.io is a business of Red Cap Development, LLC | 33440 Wallace Way | Yucaipa, CA 92399 | Call: +1&nbsp;(951)&nbsp;897&#x2011;4008

	amp-analytics(type='googleanalytics')
		script(type='application/json').
			{"vars":{"account":"UA-89411776-1"},"triggers":{"trackPageview":{"on":"visible","request":"pageview"}}}
