#appbar
	a(href='#sidedrawer')#appbar--brand
		span.mui--hidden-xl.mui--hidden-lg.mui--hidden-md &nbsp; ☰  &nbsp;
			span appthings.io
				span.fallback-font &trade;
	ul#appbar--menu
		li
			a.mui--hidden-xs(href='/en/home/index.html') Home
		li
			a.mui--hidden-xs(href='/en/home/index.html#section3') News
		li
			a.mui--hidden-xs(href='/en/clients/index.html') Clients
		li
			a.mui--hidden-xs(href='/en/team/index.html') Team
		li
			a.mui--hidden-xs(href='/en/contact/index.html') Contact
		//-li
			a.mui--hidden-sm.mui--hidden-md.mui--hidden-lg.mui--hidden-xl(href='/en/home/index.html')
				i.material-icons.mui--align-middle home
		//-li
			a(href='/en/contact/index.html')
				i.material-icons.mui--align-middle question_answer

#sidedrawer
	a(href='#')#sidedrawer--brand &nbsp; &nbsp; ☰  &nbsp;
		span appthings.io
			span.fallback-font &trade;
	.mui-divider
	ul#sidedrawer--menu
		li
			a(href='/en/home/index.html') Home 
		li
			a(href='/en/home/index.html#section3') News
		li
			a(href='/en/clients/index.html') Clients
		li
			a(href='/en/team/index.html') Team 
		li
			a(href='/en/contact/index.html') Contact Us

