extends  ./_part/_baseShellA 

block head
	title polymerbootcamp.com
	include ./_part/_headerA
	//-script(async='', custom-element='amp-iframe', src='https://cdn.ampproject.org/v0/amp-iframe-0.1.js')
	link(rel='canonical', href='/index.html')

block main
	#fullpage
		#splash
			a(name='home')
			.mui-container-fluid
				.mui-row
					.mui-col-xs-12.appbar-spacer
				include ./home/index.pug
		#clients
			a(name='clients')
			.mui-container-fluid
				.mui-row
					.mui-col-xs-12 &nbsp;
				include ./clients/index.pug
		#dates
			a(name='dates')
			.mui-container-fluid
				.mui-row
					.mui-col-xs-12 &nbsp;
				include ./dates/index.pug
				.mui-row
					.mui-col-xs-12 &nbsp;
		#contact
			a(name='contact')
			.mui-container-fluid
				.mui-row
					.mui-col-xs-12 &nbsp;
				include ./contact/index.pug

block footer
	include ./_part/_footerA
