.mui-row
	.mui-col-xs-12
		h2.h2b Training Clients
.mui-row
	.mui-col-xs-12.mui-col-sm-6.mui-col-md-5.mui-col-lg-4
		figure
			img#atclient(src='/clients/res/cnbc.jpg' width='100%', height='100%', alt='Trainer Wolfgang Gehner on-site')
			figcaption 
				p 
					i Trainer Wolfgang Gehner on-site
				p.mui--hidden-sm.mui--hidden-md.mui--hidden-lg.mui--hidden-xl
	.mui-col-xs-12.mui-col-sm-6.mui-col-md-7.mui-col-lg-8
		include clients.md
		p
.mui-row.clients
	.client
		img.client__logo(src='/clients/res/0cnbc.png')
	.client
		img.client__logo(src='/clients/res/1pg.png')
	.client
		img.client__logo(src='/clients/res/3deloitte.png')
	.client
		img.client__logo(src='/clients/res/4tetra.png')
	.client
		img.client__logo(src='/clients/res/5msd.png')
	.client
		img.client__logo(src='/clients/res/7trackx.png')
