meta(charset='utf-8')
script(async='', src='https://cdn.ampproject.org/v0.js')
script(async='', custom-element='amp-analytics', src='https://cdn.ampproject.org/v0/amp-analytics-0.1.js')
meta(name="google-site-verification", content="jugxqL2C9BihcnYc2z-iEs0FSI6ECPBS-jWjvYG008g")
meta(name='viewport', content='width=device-width,minimum-scale=1,initial-scale=1')

meta(name="description", content="Web App Front End UI Best Practices Training and Development. Standard Web Components, Polymer.")
meta(name="keywords", content="web app, front end, ui, best practices, standard web components, polymer, training, development")
meta(name="software", content="index, follow") 
meta(name="web apps", content="index, follow")
meta(name="web apps california", content="index, follow")
meta(name="IoT", content="index, follow")
meta(name="internet of things", content="index, follow")
meta(name="industrial internet of things", content="index, follow")
meta(name="california", content="index, follow")
meta(name="southern california", content="index, follow")
meta(name="title", content="appthings.io")
meta(property="og:type", content="article")
meta(property="og:url", content="https://m.appthings.io/en/home/")
meta(property="og:image", content="https://m.appthings.io/home/res/road-xs.jpg")
meta(property="og:site_name", content="m.appthings.io")
meta(property="og:description", content="Check out https://m.appthings.io!  Explore how our experience can help yours!")
meta(name='theme-color', content='#CDDC39')
meta(name="generator", content="Red Cap Development, LLC") 

style(amp-boilerplate='').
	body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
noscript
	style(amp-boilerplate='').
		body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
link(rel='icon', href='/favicon.ico')
link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Titillium+Web')
//-link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
style(amp-custom='')
	include ../_sass/mainA.css