#appbar
	#appbar--brand(onclick='openDrawer()')
		table.brand-sm
			tr
				td(rowspan='2') &nbsp;
				td.mui--hidden-xl.mui--hidden-lg.mui--hidden-md.mui--hidden-sm(rowspan='2', width='100px') ☰
				td(rowspan='2') 
					img.brand-sm__logo(src='/home/res/polymer-logo.svg', alt='polymer logo')
				td.brand-sm__polymer-cell
					.brand-sm__polymer Polymer
			tr.brand-sm__bootcamp-row
				td.brand-sm__bootcamp-cell
					.brand-sm__bootcamp Bootcamp

	ul#appbar--menu
		li
			a.mui--hidden-xs.mui--hidden-sm(href='/index.html') Home
		li
			a.mui--hidden-xs(href='/index.html#section2') Clients
		li
			a.mui--hidden-xs(href='/index.html#section3') Agenda
		li
			a.mui--hidden-xs(href='/index.html#section4') Dates
		li
			a.mui--hidden-xs(href='/index.html#section5') Contact Us

#sidedrawer(onclick='closeDrawer()')
	#sidedrawer--brand
		span &nbsp; &nbsp; ☰  &nbsp;
	.mui-divider
	ul#sidedrawer--menu
		li
			a(href='/index.html') Home
		li
			a(href='/index.html#section2') Clients
		li
			a(href='/index.html#section3') Agenda
		li
			a(href='/index.html#section4') Dates
		li
			a(href='/index.html#section5') Contact Us
script.
	function openDrawer(px, e) {
		$('#sidedrawer').css('transform', 'translateX(201px)')
	}
	function closeDrawer(e) {
		$('#sidedrawer').css('transform', 'translateX(0px)')
	}			
				

