#appbar
	brand-el
	ul#appbar--menu
		li
			a.mui--hidden-xs.mui--hidden-sm(href='#home') Home
		li
			a.mui--hidden-xs(href='#clients') Clients
		li
			a.mui--hidden-xs(href='#dates') Agenda+Dates
		li
			a.mui--hidden-xs(href='#contact') Contact Us

sidedrawer-el
