.mui-col-xs-12.mui-col-md-3
	#logo
		.logo--ctr
			img#logo__globe(src='/home/res/globe.svg', alt='appthings logo')
		.logo--ctr
			img#logo__tag(src='/home/res/appthings.svg', alt='appthings')
.mui-col-xs-12.mui-col-md-3
	table.brand
		tr
			td(rowspan='2') 
				img.brand__logo(src='/home/res/polymer-logo.svg', alt='polymer logo')
			td.brand__polymer-cell
				.brand__polymer Polymer
		tr
			td.brand__bootcamp-cell
				.brand__bootcamp Bootcamp

.mui-col-xs-12.mui-col-md-3
	table.brand-sm
		tr
			td(rowspan='2') 
				img.brand-sm__logo(src='/home/res/polymer-logo.svg', alt='polymer logo')
			td.brand-sm__polymer-cell
				.brand-sm__polymer Polymer
		tr.brand-sm__bootcamp-row
			td.brand-sm__bootcamp-cell
				.brand-sm__bootcamp Bootcamp
