.mui-row
	.mui-col-xs-12.mui-col-md-6.mui-col-lg-4
		table.mui-table
			tr
				td
					h1.h2b Polymer Best Practices Training
					include intro1.html
			tr
				td(height='115px')
					bootcamp-el
	.mui-col-xs-12.mui-col-md-6.mui-col-lg-4
		table.mui-table
			tr
				td(height='178px')
					appthings-el
			tr
				td
					include intro2.html
	.mui-col-xs-12.mui-col-md-6.mui-col-lg-4
		table.mui-table
			tr
				td
					include intro3.html
			tr
				td
					table.trinity
						tr
							td
								img.trinity__logo--html5(src='/home/res/html5.svg', alt='html logo')
							td
								img.trinity__logo--css3(src='/home/res/css3.svg', alt='css logo')
							td
								img.trinity__logo--js(src='/home/res/javascript.svg', alt='javascript logo')