.mui-row
	.mui-col-xs-12
		h2.h2b Training Dates/Calendar
.mui-row
	.mui-col-xs-12
		include agenda.html
.mui-row
	.mui-col-xs-12.mui-col-md-6
		eventlist-el
	.mui-col-xs-12.mui-col-md-6
		include contact.html