dom-module(id='sidedrawer-el')
	template
		#sidedrawer(on-click='closeDrawer')
			#sidedrawer--brand
				span &nbsp; &nbsp; ☰  &nbsp;
			.mui-divider
			slot
	script.
		Polymer({
			is: 'sidedrawer-el'

			, openDrawer: function() {
				$('#sidedrawer--menu').css('display', 'block') //slot
				$('#sidedrawer').css('transform', 'translateX(201px)')
			}

			, closeDrawer: function() {
				$('#sidedrawer').css('transform', 'translateX(0px)')
			}
		})
